* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

html,
body,
a,
li,
ul,
div,
span,
h1,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}



body {
  font-family: verdana, Arial, sans-serif;
}

header {
  background-color: #d8d8d8;
}

/* .nav {
  background-color: rgb(221, 235, 210);
  border-top: 3px solid rgb(79, 117, 105);
  border-bottom: 3px solid rgb(79, 117, 105);
  width: auto;
}

.nav li {
  float: left;
  list-style: none;
}

.nav a {
  display: inline-block;
  color: black;
  padding: 10px 25px;
  text-decoration: none;
  border-right: 3px solid rgb(79, 117, 105);
  transition: transform 0.5s ease;
  cursor: pointer;
}

.nav li:last-child a {
  border-right: none;
}

.nav a:hover {
  font-weight: bold;
  transform: scale(1.1);
  color: black;
}

.nav:after {
  content: " ";
  display: table;
  clear: both;
} */

.output {
  width: 80%;
  background-color: #f5f6fa;
}

a {
  text-decoration: none;
  color: #f5f6fa;
}

.nav li {
  list-style-type: none;
  font-size: .75em;
  margin-top: 20px;
}

.nav {
  color: #f5f6fa;
  float: left;
  width: 20%;
  padding: 0px 10px 0px 20px;
  background-color: #3ab296;
  font-size: 25px;
  border-right: 4px solid #3ab296;
}

.box {
  display: flex;
}

footer {
  font-size: 15px;
  padding: 30px 30px 30px 10px;
  clear: both;
  text-align: center;
  font-size: 15px;
  color: #2d3432;
  border-top: 4px solid #3ab296;
  background-color: #d8d8d8;
}

.text {
  padding: 10px;
  margin: 10px;
}

h3 {
  font-size: 1.17em;
}

.code {
  background-color: rgba(255, 0, 0, 0.482);
  border-radius: 5px;
}

pre {
  border-radius: 5px;
  width: 80%;
  transform: translateX(20px);
}

.example {
  background-color: #d8d8d8;
  margin: 10px;
  width: 100%;
  height: 100%;
  padding: 20px;
  border-radius: 5px;
}

table,
td,
tr {
  border: 3px solid #3ab296;
}

table {
  margin: 10px;
}

td,
tr {
  padding: 10px;
}

button {
  border-radius: 5px;
  background-color: #3ab296;
  color: #f5f6fa;
  border: none;
  font-size: 15px;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0;
}

button a {
  color: whitesmoke;
}

.testing {
  background-color: #3ab296;
  padding: 10px;
  padding-bottom: 20px;
  border-radius: 10px;
  margin: 10px;
}

.tests {
  background-color: #f5f6fa;
  padding: 10px;
  padding-bottom: 20px;
  margin: 10px;
}

.testText {
  padding-bottom: 8px;
  color: #f5f6fa;
  padding: 10px;
}

.test {
  background-color: #d8d8d8;
  padding: 30px;
  margin-bottom: 15px;
}

.answer {
  border: none;
  height: 24px;
  margin-right: 4px;
  padding: 5px;
  width: 13%;
  font-size: 17px;
}

header {
  text-transform: uppercase;
  font-weight: bold;
  padding: 30px 30px 30px 10px;
  clear: both;
  text-align: center;
  color: #2d3432;
  border-bottom: 4px solid #3ab296;
  /* font-size: 1.5em !important; */
}

.task {
  margin-bottom: 10px;
}

h1 {
  font-size: 2em;
}