* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

html,
body,
a,
li,
ul,
div,
span,
h1,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

.output {
  padding: 10px;
  margin-left: 20px;
  margin-right: 10px;
}

body {
  font-family: verdana, Arial, sans-serif;
}

header {
  background-color: rgb(252, 242, 230);
}

header h1 {
  font-size: 24px;
  text-transform: uppercase;
  font-weight: bold;
  padding: 30px 30px 30px 10px;
  clear: both;
  text-align: center;
}

/* .nav {
  background-color: rgb(221, 235, 210);
  border-top: 3px solid rgb(79, 117, 105);
  border-bottom: 3px solid rgb(79, 117, 105);
  width: auto;
}

.nav li {
  float: left;
  list-style: none;
}

.nav a {
  display: inline-block;
  color: black;
  padding: 10px 25px;
  text-decoration: none;
  border-right: 3px solid rgb(79, 117, 105);
  transition: transform 0.5s ease;
  cursor: pointer;
}

.nav li:last-child a {
  border-right: none;
}

.nav a:hover {
  font-weight: bold;
  transform: scale(1.1);
  color: black;
}

.nav:after {
  content: " ";
  display: table;
  clear: both;
} */

.output {
  padding-left: 10px;
  padding-right: 10px;
  width: 80%;
}

.nav h2 {
  font-size: 0.95em;
  margin-top: 15px;
}

.nav h3 {
  font-size: 0.85em;
  margin-top: 10px;
}

.nav p,
.nav li {
  font-size: .75em;
  margin-top: 10px;
}

.nav li {
  list-style-type: none;
}

.nav {
  float: left;
  width: 20%;
  padding: 0px 10px 0px 20px;
  background-color: aqua;
}

.box {
  display: flex;
}