:root {
  --main-bg-color: #d8d8d8;
  --nav-bg-color: #3ab296;
  --text-color: #2d3432;
  --nav-text-color: #f5f6fa;
  --button-bg-color: #3ab296;
  --button-text-color: #f5f6fa;
}

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

html,
body,
a,
li,
ul,
div,
span,
h1,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

body {
  font-family: Verdana, Arial, sans-serif;
}

header {
  background-color: var(--main-bg-color);
  text-transform: uppercase;
  font-weight: bold;
  padding: 30px 30px 30px 10px;
  clear: both;
  text-align: center;
  color: var(--text-color);
  border-bottom: 4px solid var(--nav-bg-color);
}

.nav {
  color: var(--nav-text-color);
  float: left;
  width: 20%;
  padding: 0px 10px 0px 20px;
  background-color: var(--nav-bg-color);
  font-size: 25px;
  border-right: 4px solid var(--nav-bg-color);
}

.nav li {
  list-style-type: none;
  font-size: 0.75em;
  margin-top: 20px;
}

.output {
  width: 80%;
  background-color: #f5f6fa;
}

.box {
  display: flex;
}

footer {
  font-size: 15px;
  padding: 30px 30px 30px 10px;
  clear: both;
  text-align: center;
  color: var(--text-color);
  border-top: 4px solid var(--nav-bg-color);
  background-color: var(--main-bg-color);
}

.text {
  padding: 10px;
  margin: 10px;
}

h3 {
  font-size: 1.17em;
}

.code {
  background-color: rgba(255, 0, 0, 0.482);
  border-radius: 5px;
}

pre {
  border-radius: 5px;
  width: 80%;
  transform: translateX(20px);
}

.example {
  background-color: var(--main-bg-color);
  margin: 10px;
  margin-right: 30px;
  width: 100%;
  height: 100%;

  padding: 20px;
  border-radius: 5px;
}

table,
td,
tr {
  border: 3px solid var(--nav-bg-color);
}

table {
  margin: 10px;
}

td,
tr {
  padding: 10px;
}

button {
  border-radius: 5px;
  background-color: var(--button-bg-color);
  color: var(--button-text-color);
  border: none;
  font-size: 15px;
  padding: 10px 20px;
  margin: 0;
}

button a {
  color: var(--button-text-color);
}

.testing {
  background-color: var(--nav-bg-color);
  padding: 10px;
  padding-bottom: 20px;
  border-radius: 10px;
  margin: 10px;
}

.tests {
  background-color: #f5f6fa;
  padding: 10px;
  padding-bottom: 20px;
  margin: 10px;
}

.testText {
  padding-bottom: 8px;
  color: var(--nav-text-color);
  padding: 10px;
}

.test {
  background-color: var(--main-bg-color);
  padding: 30px;
  margin-bottom: 15px;
}

.answer {
  border: none;
  height: 24px;
  margin-right: 4px;
  padding: 5px;
  width: 13%;
  font-size: 17px;
}

.task {
  margin-bottom: 10px;
}

a {
  text-decoration: none;
  color: var(--nav-text-color);
}
